site_name: PowerPlugins Wiki
site_description: 'A open-source Wiki for all kinds of resources!'
site_author: 'Andre_601'

copyright: |
  This documentation is provided under the 
  <a href="https://github.com/PowerPlugins/Wiki-Docs/blob/master/LICENSE" target="_blank">MIT-License</a>
  <br>Emojis provided with <img alt="â¤" class="twemoji md-footer-custom-text" src="https://twemoji.maxcdn.com/v/latest/svg/2764.svg" title="love"> (and for free) by 
  <a href="https://github.com/twitter/twemoji">Twemoji</a>

docs_dir: docs/

repo_name: PowerPlugins/Wiki-Docs
repo_url: https://github.com/PowerPlugins/Wiki-Docs

nav:
  - Welcome: index.md
  - Contribute:
    - Contribute: contributing/index.md
    - Styling: contributing/styling-guide.md
  - Wiki:
    - Welcome: wiki/index.md
    - Formatter Expansion:
      - Formatter Expansion: wiki/formatter-expansion/index.md
      - Locales: wiki/formatter-expansion/locales.md
      - Options: wiki/formatter-expansion/options.md
    - HexChat:
      - HexChat: wiki/hexchat/index.md
      - Actions: wiki/hexchat/actions.md
      - Commands: wiki/hexchat/commands.md
    - StatusNPC:
      - StatusNPC: wiki/statusnpc/index.md
      - Commands: wiki/statusnpc/commands.md
      - Colors: wiki/statusnpc/colors.md

theme:
  name: 'material'
  custom_dir: 'override'
  favicon: 'assets/img/favicon.png'
  palette:
    - media: '(prefers-color-scheme: light)'
      scheme: 'default'
      primary: 'orange'
      accent: 'deep orange'
      toggle:
        icon: 'octicons/sun-24'
        name: 'Switch to Dark Theme'
    - media: '(prefers-color-scheme: dark)'
      scheme: 'slate'
      primary: 'orange'
      accent: 'yellow'
      toggle:
        icon: 'octicons/moon-24'
        name: 'Switch to Light Theme'
  features:
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.sections
  - navigation.top
  icon:
    logo: octicons/book-24
    repo: fontawesome/brands/github-square

extra_css:
  - 'assets/css/extra.css'

extra:
  social:
    - icon: 'fontawesome/brands/github'
      link: 'https://github.com/PowerPlugins'
    - icon: 'fontawesome/solid/link'
      link: 'https://powerplugins.net'

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shorthand: true
